body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin:0;
}
.Header{
    background-color: #9CEAFB   ;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Header img{
    height: 70px;
}
.Links{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
}
.Contenedor{
    background-color: #6AD8F1    ;
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.Formulario label{
    margin: 5px;
    width: 100%;
}

.Formulario label input, select{
    width: 100%;
}


#personas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.personas{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

}

.personas span{
    margin: 10px 15px;
    
}
.Boton{
    padding: 5px 10px;
    margin:5px;
    background-color: #9CEAFB ;
    border-radius: 15px;
}
.Footer{
    background-color:#9CEAFB  ;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Footer img{
    height: 40px;
}
.Footer a{
    margin:0 15px;
}